<div class="chart">
  <h1 class="title"><span>World</span> Indicators</h1>
  <svg></svg>
</div>
<div class="countries_list">
  <h1>Countries</h1>
  <ul>
    <% @countries.each do |country| %>
      <%= content_tag(:li, country.name, id: country.code, data: country.id) %>
    <% end %>
  </ul>
</div>
