<div class="chart">
  <h1 class="title"><span>World</span> Indicators</h1>
  <p>Data from <a href="http://www.worldbank.org/">World Bank</a> <br> I wanted to answer how important is mobile to the internet currently and what is hinted for the future?</p>
  <svg></svg>
</div>
<div class="countries_list">
  <h1>Countries</h1>
  <ul>
    <% @countries.each do |country| %>
      <%= content_tag(:li, country.name, id: country.code, data: country.id) %>
    <% end %>
  </ul>
</div>
