<div class="container">
  <h1>US Foreign Assistance</h1>
  <p>The top bubble chart depicts countries based on US economic aid received from 1940-2010</p>
  <p>The bottom chart depicts countries based on US military aid received over the same time period. Size correlates to inflation-adjusted dollar amounts.</p>
  <div id="countries">
  </div>
</div>
