/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 body {
   font: 1em sans-serif;
 }

 .axis path,
 .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }

 .x.axis path {
   display: none;
 }

 .line {
   fill: none;
   stroke: steelblue;
   stroke-width: 2.5px;
 }
 text.line {
  fill: steelblue;
  stroke: none;
  font-weight: bold;
 }

 .cell {
  fill: none;
  stroke: black;
  stroke-width: 2.5px;
 }

 text.cell {
  fill: black;
  stroke: none;
  font-weight: bold;
 }

 .broad {
  fill: none;
  stroke: tomato;
  stroke-width: 2.5px;
 }

 text.broad {
  fill: tomato;
  stroke: none;
  font-weight: bold;
 }

 .countries_list {
  font-size: 18px;
  position: absolute;
  right: 0;
 }

 .countries_list li:hover {
  text-decoration: underline;
  cursor: pointer;
 }

 .chart {
  position: fixed;
 }

 .chart p {
  text-align: center;
 }

 h1 {
  text-align: center;
}

h1.title span {
  text-decoration: underline;
}

.selected {
  color: steelBlue;
  font-weight: bold;
}

@media (max-width: 1615px) {
  .countries_list, .chart {
    position: static;
    display: block;
  }
}
