<!DOCTYPE html>
<html>
<head>
  <title>D3Visualizer of Town Names</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='container'>
<%= yield %>

<!-- this is supposed to be a best practice - and is meant to be better for cross borwser uniformity -->
<%= javascript_include_tag "application" %>
</div>
</body>
</html>
